.horizontal-line {
  height: 3px;
  width: 25%;
  max-width: 250px;
  background: #eae8e9;
}

.header-banner {
  width: 99%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}
