.header-banner {
  width: 99%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 10px;
}
.header-container {
  padding: 15px;
  background-color: #eeede9;
}

.typewriter {font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;}
