.section-container {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 99%;
  max-width: 300px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img-styling { width: 50px; }

.typewriter {font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;}
